<section id="professionalExperience" class="professional-experience section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <span>Professional Experience<br></span>
    <h2>Professional Experience</h2>
    <p>Here is a summary of my professional experience, showcasing the skills and roles I've undertaken throughout my career.</p>
  </div>
  <!-- End Section Title -->

  <div id="cd-timeline" class="container cd-container">

    @for (experience of experiences; track experience.id; let i = $index){
    <div class="cd-timeline-block">

      @if(i == 0){
        <iconify-icon icon="bi:rocket" class="rocket"></iconify-icon>
      }


      <div class="cd-timeline-img cd-picture">
      </div>

      <div class="cd-timeline-content">
        <h2>{{ experience.company }}</h2>
        <div class="timeline-content-info">
          <span class="timeline-content-info-title">
            <i class="fa fa-certificate" aria-hidden="true"></i>
            {{ experience.job_title }}
          </span>
          <span class="timeline-content-info-date">
            <i class="fa fa-calendar-o" aria-hidden="true"></i>
            {{ experience.location  }}
          </span>
        </div>
        <p>{{ experience.description }}</p>
        <ul class="content-skills">
          @for(tech of experience.technologies; track tech){
            <li>{{ tech }}</li>
          }

        </ul>
        <span class="cd-date">
          {{ experience.start_date | date: 'MMM yyyy' }}
          -
          {{ experience.end_date ? (experience.end_date | date: 'MMM yyyy') : 'Present' }}
        </span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

  }

  </div>

</section>
