.detail{
  display: flex;
  align-items: center;

}
.detail .icon{
  width: 40px;
  height: 40px;
  color: var(--primary);
  background: var(--orange-light);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

.detail .icon:hover{
  background: var(--primary);
  color: white;
  transition: 0.3s;
}

.detail strong{
  margin-left: 10px;
  margin-right: 5px;
}
