<!-- About Section -->
<section id="about" class="about section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <!-- <span>About Us<br></span> -->
    <h2>About</h2>
    <p>Building clean, scalable, and user-focused software that brings your ideas to life.</p>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row gy-4">
      <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="100">
        <img src="/assets/img/about.png" class="img-fluid" alt="">
        <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
      </div>
      <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="200">
        <section id="about" class="about">

          <div class="container">
            <div class="row">
              <div class="col-lg-12 pt-4 pt-lg-0 content" data-aos="fade-left">
                <h3>Turning Ideas Into Scalable Solutions.</h3>
                <p class="fst-italic">
                  With a passion for clean code and smart design, my journey in web development has been all about building, learning, and solving real-world problems.
                </p>
                <p>Highlights from the path so far:</p>
                <ul>
                  <li><i class="bi bi-arrow-right-short"></i> <span>Created multiple self-driven projects—from concept to launch—that sharpened both creative and technical skills.</span></li>
                  <li><i class="bi bi-arrow-right-short"></i> <span>Gained deep expertise in full-stack development through hands-on experience and continuous exploration.</span></li>
                  <li><i class="bi bi-arrow-right-short"></i> <span>Developed a work style rooted in adaptability, user empathy, and a passion for efficient solutions.</span></li>
                </ul>
                <p>
                  With 2 years of experience in software and web development, I build with intention and love collaborating on meaningful ideas.
                </p>
                <p>
                  Let’s create something great together—I'm ready to help bring your next vision to life.
                </p>
              </div>
            </div>
          </div>


        </section>
      </div>
    </div>

  </div>

</section>
<!-- /About Section -->
