<section id="professionalExperience" class="professional-experience section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <span>Education Summery<br></span>
    <h2>Education Summery</h2>
    <p>A brief overview of my academic background and qualifications.</p>
  </div>
  <!-- End Section Title -->

  <div id="cd-timeline" class="container cd-container">

    @for (education of educations; track education.id; let i = $index){
    <div class="cd-timeline-block">
      @if(i == 0){
        <iconify-icon icon="bi:rocket" class="rocket"></iconify-icon>
      }

      <div class="cd-timeline-img cd-picture">
      </div>

      <div class="cd-timeline-content">
        <h2>{{ education.institution }}</h2>

        <div class="timeline-content-info">
          <span class="timeline-content-info-title">
            <i class="fa fa-certificate" aria-hidden="true"></i>
            {{ education.degree }}
          </span>
          <span class="timeline-content-info-date">
            <i class="fa fa-calendar-o" aria-hidden="true"></i>
            {{ education.field_of_study }}
          </span>
        </div>
        <p>{{ education.description }}</p>
        <ul class="content-skills">
        <li class="w-fit-content">Grade - <b>{{ education.grade }}</b></li>

        </ul>
        <span class="cd-date">
          {{ education.start_date | date: 'MMM yyyy' }}
          -
          {{ education.end_date ? (education.end_date | date: 'MMM yyyy') : 'Present' }}
        </span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->
    }



  </div>

</section>
