
<form (submit)="submitContactForm()" #contactForm="ngForm" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
  <div class="row gy-4">
    <div class="col-md-6">
      <label for="name-field" class="pb-2">Your Name</label>
      <input type="text" name="name" [(ngModel)]="name" id="name-field" class="form-control" required="">
      @if (validationErrors['name']) {
        <small class="text-danger"> {{validationErrors['name']}}</small>
       }
    </div>

    <div class="col-md-6">
      <label for="email-field" class="pb-2">Your Email</label>
      <input type="email" class="form-control" name="email" [(ngModel)]="email"  id="email-field" required="">
      @if (validationErrors['email']) {
       <small class="text-danger"> {{validationErrors['email']}}</small>
      }
    </div>

    <div class="col-md-12">
      <label for="subject-field" class="pb-2">Subject</label>
      <input type="text" class="form-control" name="subject" [(ngModel)]="subject" id="subject-field" required="">
      @if (validationErrors['subject']) {
        <small class="text-danger"> {{validationErrors['subject']}}</small>
       }
    </div>

    <div class="col-md-12">
      <label for="message-field" class="pb-2">Message</label>
      <textarea class="form-control" name="message" [(ngModel)]="message"  rows="10" id="message-field" required=""></textarea>
      @if (validationErrors['message']) {
        <small class="text-danger"> {{validationErrors['message']}}</small>
       }
    </div>

    <div class="col-md-12 text-center">


      @if(validationErrors['general']){
        <div class="error-message show" >{{ validationErrors['general'] }}</div>
      }
      @if(submitSuccess && !validationErrors['general']){
        <div class="sent-message show">Your message has been sent. Thank you!</div>
      }

      @if(loading){
        <div class="loading show">Loading</div>
      }@else {
        <button type="submit" [disabled]="contactForm.invalid">Send Message</button>
      }
    </div>

  </div>
</form>
