<header id="header" class="header d-flex align-items-center sticky-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center">

    <a [routerLink]="['/home']" class="logo d-flex align-items-center me-auto">
     <div class="d-flex align-items-center">
      <img src="/logo-txt.png" alt="">
     </div>
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li>
          <a [routerLink]="['/home']"  [class.active]="router.url.startsWith('/home')" (click)="toggleNav()">Home</a>
        </li>
        <li class="dropdown">
          <a href="#" [routerLink]="['']" (click)="toggleDropdown()" [class.active]="router.url.startsWith('/project')">
            <span>Projects</span>
            <i class="bi bi-chevron-down toggle-dropdown"></i>
          </a>
          <ul [class.dropdown-active]="dropdownOpen">
            @for (project of projects.slice(0, 9); track project.id) {
              <li>
                <a
                  href="#"
                  [routerLink]="['/projects', project.name.toLowerCase()]"
                  [class.active]="router.url.startsWith('/projects/' + project.name.toLowerCase())"
                  (click)="toggleNav()">
                  {{ project.name }}
                </a>
              </li>
            } @empty {
              <li><a href="#">Loading...</a></li>
            }
            @if(projects.length > 9) {
              <li>
                <a [routerLink]="['/projects']" (click)="toggleNav()" class="w-100 d-flex justify-content-between align-items-center">
                  <span>Show all</span>
                  <iconify-icon icon="mingcute:arrows-right-line" class="icon" ></iconify-icon>
                </a>

              </li>
            }
          </ul>
        </li>

        <li><a [routerLink]="['/contact']" [class.active]="router.url.startsWith('/contact')" (click)="toggleNav()">Contact</a></li>
        <li><a [routerLink]="['/about']" [class.active]="router.url.startsWith('/about')" (click)="toggleNav()">About</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list" (click)="toggleNav()"></i>
    </nav>

    <a class="btn-getstarted" href="https://www.github.com/ProjectsAndPrograms" target="_blank">Github</a>

  </div>
</header>
