<section id="about" class="about section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <span class="no-select">{{ projectName }}<br></span>
    <h2>{{ projectName }}</h2>
    <p>{{ projectDescription }}</p>
  </div>
  <!-- End Section Title -->

  <div class="container">

    <div class="row g-3 ">
      <div class="col-lg-9 position-relative align-self-start" data-aos="fade-up" data-aos-delay="100">
        <div class="readme-container">
          @if(safeReadmeHtml) {
            <div class="readme" [innerHTML]="safeReadmeHtml"></div>
          } @else if (readmeContent) {
            <div class="readme">{{ readmeContent }}</div>
          } @else {
            <app-loading></app-loading>
          }
        </div>
      </div>
      <div class="col-lg-3 content" data-aos="fade-up" data-aos-delay="200">

        <div class="sidebar">

          <h6>Languages</h6>
          <app-project-languages></app-project-languages>

          <hr>
          <h6>Important Link's</h6>
          <a
          [href]="projectUrl || '#'"
          target="_blank"
          class="btn btn-dark source-code-btn"
          [class.disabled]="!projectUrl"
          [style.pointer-events]="!projectUrl ? 'none' : 'auto'"
          [style.opacity]="!projectUrl ? '0.5' : '1'"
        >
          <iconify-icon icon="mdi:github" class="icon"></iconify-icon> &nbsp; Get source code
        </a>


          <hr>
          <h6>Popular Projects</h6>
          <app-popular-projects></app-popular-projects>
        </div>
      </div>
    </div>

  </div>

</section>

