<section id="about" class="about section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <span class="no-select">School Management system<br></span>
    <h2>School Management System</h2>
    <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row g-4 ">
      <div class="col-lg-9 position-relative align-self-start" data-aos="fade-up" data-aos-delay="100">
        <div class="readme-container">
          @if(safeReadmeHtml) {
            <div class="readme" [innerHTML]="safeReadmeHtml"></div>
          } @else if (readmeContent) {
            <div class="readme">{{ readmeContent }}</div>
          } @else {
            <app-loading></app-loading>
          }
        </div>
      </div>
      <div class="col-lg-3 content" data-aos="fade-up" data-aos-delay="200">
        <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>


        <p>
          Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
          voluptate
          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
        </p>
      </div>
    </div>

  </div>

</section>
