<section id="about" class="about section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <!-- <span>About Us<br></span> -->
    <h2>Poly book Lib</h2>
    <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row gy-4">
      <div class="col-lg-9 position-relative align-self-start" data-aos="fade-up" data-aos-delay="100">
        <div >
          <div *ngIf="safeReadmeHtml" [innerHTML]="safeReadmeHtml"></div>
          <div *ngIf="!safeReadmeHtml && readmeContent">{{ readmeContent }}</div>
          <div *ngIf="!safeReadmeHtml && !readmeContent">Loading README...</div>
        </div>
      </div>
      <div class="col-lg-3 content" data-aos="fade-up" data-aos-delay="200">
        <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>


        <p>
          Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
          voluptate
          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
        </p>
      </div>
    </div>

  </div>

</section>
