div{
  display: flex;
  width: 100vw;
  height: 90vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
img{
  max-width: 600px;
}
h1{
  font-size: 1.8rem;
  color: var(--dark);
  margin-top: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
}
h2{
  font-size: 0.8rem;
  color: var(--color-primary);
  margin: 0;

}
