<form action="#" method="post" class="php-email-form" #subscribeFrom="ngForm" (ngSubmit)="subscribeSubmit()">
  <div class="newsletter-form">
    <input type="email" name="email" [(ngModel)]="email" required email>
    <input type="submit" value="Subscribe" [disabled]="loading">
  </div>

  @if (validationErrors['email']) {
    <div class="error-message show text-center" *ngFor="let error of validationErrors['email']">{{ error }}</div>
  }

  @if (loading) {
    <div class="loading show">Loading</div>
  }

  @if (validationErrors['general']) {
    <div class="error-message show text-center" *ngFor="let error of validationErrors['general']">{{ error }}</div>
  }

  @if (submitSuccess) {
    <div class="sent-message show">Your subscription request has been sent. Thank you!</div>
  }
</form>
