<!-- Hero Section -->
<section id="hero" class="hero section">

  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
        <h5>Everyone,</h5>
        <!-- <h1>I want to be<span class="orange"> an Orange </span></h1> -->
        <h1>{{ prefix }} <span class="orange">{{ suffix }}</span></h1>



        <p>An architect of seamless cross-cutting solutions, weaving aspects into the fabric of code. </p>
        <div class="d-flex flex-column flex-sm-row align-items-center">
          <a href="https://www.github.com/ProjectsAndPrograms"
            class="btn-get-started rounded-pill px-2 d-flex center me-2 w-auto"><span class="px-4">Github</span></a>
          <app-social-media></app-social-media>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="100">
         <div class="cube-1"> <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 2048 2048">
        <path fill="currentColor"
          d="M1792 569v1038l-832 417l-832-417V569l832-417zM960 296L335 608l625 312l625-312zM256 1528l640 321v-817L256 711zm1408 0V711l-640 321v817z" />
      </svg>
    </div>
        <img src="/assets/img/hero-img.png" class="img-fluid animated" alt="">

      </div>
    </div>





    <div class="cube-3">
       <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 2048 2048">
        <path fill="currentColor"
          d="M1792 569v1038l-832 417l-832-417V569l832-417zM960 296L335 608l625 312l625-312zM256 1528l640 321v-817L256 711zm1408 0V711l-640 321v817z" />
      </svg>
       <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 2048 2048">
        <path fill="currentColor"
          d="M1792 569v1038l-832 417l-832-417V569l832-417zM960 296L335 608l625 312l625-312zM256 1528l640 321v-817L256 711zm1408 0V711l-640 321v817z" />
      </svg>
       <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 2048 2048">
        <path fill="currentColor"
          d="M1792 569v1038l-832 417l-832-417V569l832-417zM960 296L335 608l625 312l625-312zM256 1528l640 321v-817L256 711zm1408 0V711l-640 321v817z" />
      </svg>
    </div>



  </div>

</section>
<!-- /Hero Section -->
