<!-- Call To Action Section -->
<section id="call-to-action" class="call-to-action section accent-background">

  <img src="/assets/img/shapes/honeycomb.png" class="decorative-img" alt="">

  <div class="container">
    <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
      <div class="col-xl-10">
        <div class="text-center">
          <h3>Let's Work Together</h3>
          <p>Have a project in mind or need a creative touch? Let's collaborate to bring your ideas to life.
            Feel free to reach out, and let's create something amazing together!</p>
          <a class="cta-btn" [routerLink]="['/contact']">Get in Touch</a>

        </div>
      </div>
    </div>
  </div>

</section>
<!-- /Call To Action Section -->
