
.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  font-size: 16px;
  color: var(--primary);
  background: var(--orange-light);
  margin: 5px 5px;
  transition: 0.3s;
  font-size: 22px;
}
.social-links a:hover {
  background: var(--primary);
  color: white;
}

a .icon {
  font-size: 22px;
}
