@if (languageArray.length) {
  <div class="progress-stacked  low-height">
    @for (lang of languageArray; track $index) {
      <div
        class="progress"
        role="progressbar"
        aria-valuemin="0"
        aria-valuemax="100"
        [attr.aria-valuenow]="lang.value"
        [style.width.%]="lang.value"
      >
        <div
          class="progress-bar progress-bar-striped"
          [ngClass]="'bg-' + lang.key.toLowerCase()"
        ></div>
      </div>
    }


  </div>

    <ul class="language-list">
      @for (row of languageArray; track $index) {
        <li>
          <iconify-icon icon="material-symbols:circle" class="icon text-{{ row.key.toLowerCase() }}"></iconify-icon>
          <span class="language-name">{{ row.key }}</span>
          <span class="percentage">{{ row.value | number: '1.0-0' }}%</span>
        </li>
      }
    </ul>
}@else {
 <app-loading></app-loading>
}

